.section{
  text-align: center;
  &--banner{
    position: relative;
    height: $banner-height;
    &__demo{
      display: none;
      @include breakpoint($breakpoint-tablet-portrait){
        display: inline;
        position: absolute;
        bottom: -240px;
        right: -80px;
        width: 450px;
      }
    }
    @include breakpoint($breakpoint-bootstrap-tablet){
      height: $banner-desktop-height;
      &__demo{
        right: 0;
        width: 600px;
      }
    }
  }
  &__title{
    margin-bottom: 20px;
    font-size: 3.6rem;
    font-weight: 100;
    &--underlined{
      position: relative;
      margin-bottom: 30px;
      &::after{
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0; right: 0;
        width: 200px;
        margin: 0 auto;
        border-bottom: solid 2px $color-brand-1;
      }
    }
  }
  &__description{
    margin: 10px 0;
  }
  &--workflow, &--welcome, &--features, &--ios, &--android{
    padding: 20px 50px;
    @include breakpoint($breakpoint-bootstrap-tablet){
      padding: 20px 100px;
    }
  }
  &--workflow{
    background: lighten(#e6e8ee, 5%);
  }
  &--ios{
    @include tinted-bg($black, .5, '../../dist/images/ios-section-bg.jpg', 100%);
    background-attachment: fixed;
    color: $white;
    height: 600px;
  }
}
